
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

body {
  font-family: 'Merriweather', serif;
  font-size: 32px;
  font-weight: 700;
}
.container2 {
  display: block;
  position: absolute;
  bottom: 550px;
  left: 50px;
}

.Milo {
  margin-top: 80px;
}

.img1 {
  margin-left: 100px;
  margin-top:25px;
  margin-right: 100px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.img2 {
  margin-left: 10px;
  margin-top:25px;
  margin-right: 300px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.text1 {
  box-sizing: content-box;
  width: 1000px;
  height: 250px;
  border: 5px solid black;
  background-color: lightgray;
  border-radius: 5px;
  padding-left: 60px;
  padding-right: 15px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.container {
  height: 100%;
  display: block;
  /*align-items: column;
  justify-content: center;*/
}

.buttons {
  display: block;
  position: absolute;
  bottom: 0px;
}

.btn {
  text-decoration: none;
  padding: 40px 100px;
  font-size: 1.5em;
  position: relative;
  margin: 32px;
  display: block;
  width: fit-content;
}

.btn-1 {
  background: #000;
  color: #fff;
  border-radius: 30px;
  transition: transform 0.3s ease;
}

.btn-1::after, .btn-1::before {
  content: "";
  position: absolute;
  opacity: 0.3;
  background-color: #000;
  border-radius: inherit;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: transform 0.3s ease;
}

.btn-1:hover {
  transform: translate(-24px, -24px);
}

.btn-1:hover::after {
  transform: translate(12px, 12px);
}

.btn-1:hover::before {
  transform: translate(24px, 24px);
}

.button {
  display: inline-flex;
  height: 50px;
  padding: 0;
  background: #009578;
  border: none;
  outline: none;
  border-radius: 5px;
  overflow: hidden;
  font-family: 'Merriweather', serif;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

.button:hover {
  background: #008168
}
.button:active {
  background: #006e58
}


.button__text,
.button__icon {
  display: inline-flex;
  align-items: center;
  padding: 0 24px;
  color: #fff;
  height: 100%;
}

.button__icon {
  font-size: 1.5em;
  background-color: rgba(0, 0, 0, 0.08);
}
